<a href="https://colab.research.google.com/github/aroraaastha/aroraaastha/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num = 3.14159
print(f"{num:.2f}")

3.14

In [3]:

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
product = num1 * num2
print("Product =", product)

Enter first number: 5
Enter second number: 10
Product = 50

In [4]:
import math
radius = 10
volume = (4/3) * math.pi * radius**3
print(f"Volume of the sphere is: {volume:.2f}")

Volume of the sphere is: 4188.79

In [5]:

text = input("Enter a string: ")
length = len(text)
print("Length of the string is:", length)

Enter a string: Hello World
Length of the string is: 11

In [6]:

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
product = num1 * num2
print("Product =", product)

Enter first number: 7
Enter second number: 8
Product = 56.0

In [9]:
a=int(input("Enter a number: "))
print(a+(2*a)+(3*a))

Enter a number: 12
72

In [10]:
value = input("Enter a number: ")

float_value = float(value)
int_value = int(float_value)

print("Float value:", float_value)
print("Integer value:", int_value)

Enter a number: 45.68
Float value: 45.68
Integer value: 45

In [11]:
n = int(input("How many numbers? "))
numbers = []6
print("Sum of the numbers is:", total)

How many numbers? 6
Enter number 1: 1
Enter number 2: 2
Enter number 3: 3
Enter number 4: 4
Enter number 5: 5
Enter number 6: 6
Sum of the numbers is: 21.0

In [12]:

numbers = [10, 20, 30, 40]

pos = int(input("Enter position to insert at (0-based index): "))

numbers.insert(pos, num)
print("Updated list:", numbers)

Enter position to insert at (0-based index): 3
Updated list: [10, 20, 30, 6.0, 40]

In [13]:

user_input = input("Enter numbers separated by spaces: ")
numbers = list(map(float, user_input.split()))

min_val = min(numbers)
max_val = max(numbers)
print("Minimum number is:", min_val)
print("Maximum number is:", max_val)

Enter numbers separated by spaces: 4
Minimum number is: 4.0
Maximum number is: 4.0

In [14]:
numbers = [10, 20, 30, 40, 50]
index = int(input("Enter index to delete (0-based): "))
if 0 <= index < len(numbers):
    del numbers[index]
    print("Updated list:", numbers)
else:
    print("Invalid index!")

Enter index to delete (0-based): 3
Updated list: [10, 20, 30, 50]

In [15]:
numbers = [10, 20, 30, 40, 50, 60, 70]
start = int(input("Enter start index: "))
end = int(input("Enter end index: "))
sublist = numbers[start:end]
print("Sublist:", sublist)

Enter start index: 1
Enter end index: 4
Sublist: [20, 30, 40]

In [16]:
numbers = [5, 12, 25, 7, 30, 18]
threshold = int(input("Enter the number: "))
result = [num for num in numbers if num > threshold]
print("Values greater than", threshold, "are:", result)

Enter the number: 12
Values greater than 12 are: [25, 30, 18]

In [17]:
numbers = [10, 15, 22, 33, 40, 55, 60]
even = [num for num in numbers if num % 2 == 0]
odd = [num for num in numbers if num % 2 != 0]
print("Even numbers:", even)
print("Odd numbers:", odd)

Even numbers: [10, 22, 40, 60]
Odd numbers: [15, 33, 55]